<p>request works!</p>
<div>
    <h2>Requested data</h2>
    @if (loading) {
        <p>Loading data</p>
    }

    @if (error) {
        <p style="color: red;">{{ error }}</p>
    }
    @if (data) {
        <h3>Username: {{ data.login }}</h3>
        <p>Id user: {{ data.id }}</p>
        <p>Bio: {{ data.bio }}</p>
        <p>Url {{ data.html_url }}</p>
        <img src="{{ data.avatar_url }}" alt="profile picture" style="width: 15%; height: 15%; ">
        <p>Seguidores: {{ data.followers }}</p>
        <p>Seguindo: {{ data.following }}</p>
        <p>Work: {{ data.company }}</p>
        <p>Local: {{ data.location }}</p>
        <p>Email: {{ data.email }}</p>
        @if (data.blog) {
            <p>Blog: {{ data.blog }}</p>
        }
        @if (data.twitter_username) {
            <p>Twitter: {{ data.twitter_username }}</p>
        }
        @for (repo of datarepos; track repo) {
            @if (repo.stargazers_count >= 1) {
                <p>Name: {{ repo.name }} Star: {{ repo.stargazers_count }} Update: {{ repo.updated_at }}</p>
            }
        }
    }
</div>