<div class="main-container">
    @if (loading) {
        <p>Loading data</p>
    }
    @if (error) {
        <p style="color: red;">{{ error }}</p>
    }
    @if (data) {
        <div class="profile">
            <div class="profile-header">
                <img src="{{ data.avatar_url }}" alt="profile picture">
                <div>
                    <h3>{{ data.login }}</h3>
                    <p>@second name</p>
                </div>
            </div>
            
            @if (data.bio) {
                <p class="bio">{{ data.bio }}</p>
            }

            <div>
                <p>{{ data.followers }} seguidores</p>
                <p>{{ data.following }} seguindo</p>
            </div>
           
            <div>
                @if (data.company) {
                    <p >{{ data.company }}</p>
                }
                @if (data.location) {
                    <p>{{ data.location }}</p>
                }
                @if (data.email) {
                    <p>{{ data.email }}</p>
                }
                @if (data.blog) {
                    <p><a href="{{ data.blog }}">{{ data.blog }}</a></p>
                }
                @if (data.twitter_username) {
                    <p><a href="https://twitter.com/{{ data.twitter_username }}">@{{ data.twitter_username }}</a></p>
                }
            </div>

            <a href="{{ data.html_url }}" class="contact-button">
                Contato
            </a>
        </div>
    }
    <div class="repos">
        @for (repo of datarepos; track repo) {
            <div class="repo-item">
                <h4>{{ repo.name }}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
                <div class="repo-details">
                    <p>{{ repo.stargazers_count }}</p>
                    <p>{{ repo.updated_at }}</p>
                </div>
            </div>
        }
    </div>
</div>